/* CSS RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

/* FIREBASE */




/* GENERAL DOCUMENT STYLES*/
* {
  font-family: 'Barlow', sans-serif;
  font-size: 10px;
  --bkgnd-1: blue;
  --bkgnd-2: green;
  --bkgnd-3: orange;

  --A-1: rgb(111, 174, 187);
  --A-0: rgb(147, 183, 190);

  --B-0: #F1FFFA;

  --C-0: #D5C7BC;

  --D-1: #9a3357;
  --D-0: #785964;

  --E-1: #454545;
  --E-0: #454545;
  --E-2: #222222;
  
  --F-1: #2d4430;
  --F-0: #2d4430;

  --error-red: #9e0000;
  --bkgnd-select: rgba(255,255,255,0.15);
  --bkgnd-highlight: rgba(0, 0, 0, 0.25);

  --btn-green-lt: #C3E991;
  --btn-green-dk: #3DA35D;
  --text-green: #084127;

  --btn-red-lt: #e99191;
  --btn-red-dk: #a33d3d;
  --text-red: #410808;

}

/* MAIN SECTION STYLES*/

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: var(--A-0);
  font-family: 'Barlow', sans-serif;
}

.log-in {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--C-0);
}

/* Log In */
.log-in p:nth-child(1) {
  font-size: 8rem;
  font-family: 'Barlow', sans-serif;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.3rem;
  color: var(--E-0);
}

.log-in button {
  background-color: var(--A-1);
  border: solid 2px var(--A-1);
  color: var(--E-0);
  font-size: 2rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.3rem;
  transition: 0.5s;
}

.log-in button:hover {
  border: dashed 2px var(--E-0);
  background-color: var(--A-0);
  box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.15);
  color: var(--D-1);
  transition: 0.5s;
}

.login-error {
  font-family: 'Barlow', sans-serif;
  color: var(--error-red);
  font-size: 1rem;
  padding-top: 0.5rem;
}


/* ~~~~~
Nav Bar
~~~~~ */
.nav-left {
  grid-area: 1/1/2/2;
  background-color: var(--E-1);

  transition: width 1s;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header{
  position: relative;
  display: flex;
}

.user-profile {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}


/* ~~~~~
Nav Bar Compact
~~~~~ */
.nav-left.compact {
  grid-area: 1/1/2/2;
  background-color: var(--C-0);
  width: 75px;
  transition: width 1s;
}

.nav-left.compact:hover {
  background-color: var(--D-0);
  /* transition: background-color 0.2s; */
}

/*Logo*/
.siteLogo {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: var(--C-0);
  padding: 1rem;
}

.siteLogo p {
  font-family: 'Barlow', sans-serif;
  font-size: 4rem;
  white-space: nowrap;

  position: relative;
  top: 0px;
  left: 0px;
  padding: 0.5rem 0rem 0.5rem 0rem;
  transform: rotate(0deg);
  transition: transform 1s;
}


/*Logo Compact*/
.siteLogo.compact {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--E-0)

}

.siteLogo.compact p {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 50px;
  left: 0px;

  /* writing-mode: vertical-lr; */
  /* text-orientation: upright;   */
  transform: rotate(90deg);
  transition: transform 1s;
}

/*Controls*/
.controls {
  background-color: var(--bkgnd-highlight);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

button {
  background-color: var(--bkgnd-highlight);
  border-radius: 0.5rem;
  border: none;
  margin: 0.5rem;
}

button p {
  font-size: 1.2rem;
  visibility: hidden;
  font-family: 'Barlow', sans-serif;
  font-size: 1.2rem;
  color: var(black);
}

button:hover {
  background-color: var(--bkgnd-select);
  border: none;
  box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.35);
  transition: box-shadow, background-color 0.3s;
}

button:hover p {
  visibility: visible;
  color: var(--B-0);
  transition: 1s;
}

.button-main {
  background-color: var(--bkgnd-highlight);
  border: none;
  margin: 0.5rem;
}

.button-main p {
  font-size: 1.5rem;
  visibility: hidden;
  font-family: 'Barlow', sans-serif;
  font-size: 1.2rem;
  color: var(--text-red);
}

.button-main:hover  {
  background-color: var(--bkgnd-select);
  border-radius: 0.5rem;
  border: none;
  transition: background-color 0.2s;
}

.button-main:hover p  {
  color: var(--btn-red-lt);
}


/*Controls Compact*/
.controls.compact {
  margin-top: 100px;
  flex-grow: 1;
  width: 100%;

}

.button-main.compact {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: none;
  background-color: transparent;
}

.button-main.compact:hover {
  /* background-color: var(--C-0); */
}

.button-main.compact img {
  /* height: 2.5rem; */
}



/*Project Form*/
.task-input-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--bkgnd-select);
}

.project-input-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--bkgnd-select);
}

.form-input-item {
  display: flex;
  flex-direction: column;
}

.form-input-item label {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.task-input {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.form-input-item p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  color: var(--error-red)
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem
}

.submit-button {
  width: 50%;
  color: black;
  background-color: var(--btn-green-dk);
  margin: 0px;
  font-size: 1.25rem;
  padding: 0.25rem;
}

.submit-button:hover {
  color: var(--text-green);
  background-color: var(--btn-green-lt);
}

.cancel-button {
  width: 50%;
  color: black;
  background-color: var(--btn-red-dk);
  margin: 0px;
  font-size: 1.25rem;
  padding: 0.25rem;
}

.cancel-button:hover {
  color: var(--text-red);
  background-color: var(--btn-red-lt);
}


/*Project List*/
.projects-list {
  display: flex;
  flex-direction: column;
  color: var(--A-0);
  background-color: var(--bkgnd-highlight);
  padding: 1rem;
}

.projects-list p {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.projects-list button {
  font-size: 2rem;
  padding: 1rem;
  color: var(--B-0);
}

/*Task Tabs*/


.tabs-all {
  display: flex;
  flex-direction: row;
}

.proj-tab {
  background-color: var(--B-0);
  border-right: solid 1px var(--E-1);
}

.proj-tab > p {
  font-size: 1.5rem;
  padding: 1rem;
  background-color: var(--bkgnd-highlight);
}



