/* CSS RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Imported Styles & Fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap'); */


/* GENERAL DOCUMENT STYLES*/
* {
  /* box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  font-size: 10px; */
  --bkgnd-1: blue;
  --bkgnd-2: green;
  --bkgnd-3: orange;

  --A-1: #2779a7;
  --A-0: rgb(147, 183, 190);

  --B-0: #F1FFFA;

  --bg-main: #f4f7f6;
  --text-main: #ffffff;

  --text-hl: #49c5b6;

  --D-1: #9a3357;
  --D-0: #785964;

  --E-1: #454545;
  --E-0: #454545;
  --E-2: #222222;
  
  --F-1: #2d4430;
  --F-0: #2d4430;

  --error-red: rgb(158, 0, 0);
  --shade-red: rgba(158, 0, 0, 0.35); 
  --shade-orange: rgba(216, 80, 1, 0.45); 
  --shade-green: rgba(1, 216, 26, 0.35); 

  --bkgnd-select: rgba(255,255,255,0.15);
  --bkgnd-highlight: rgba(0, 0, 0, 0.25);

  --btn-green-lt: #C3E991;
  --btn-green-dk: #3DA35D;
  --text-green: #084127;

  --btn-red-lt: #e99191;
  --btn-red-dk: #a33d3d;
  --text-red: #410808;
}



/* MAIN SECTION STYLES*/
/* 
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: var(--E-1);
  font-family: 'Barlow', sans-serif;
} */

.log-in {
  /* width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-main); */
}

/* .nav-left {
  background-color: var(--E-1);
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transition-property: width;
  transition-delay: 0s;
  transition-duration: 1s;
} */

/* .nav-left.compact {
  width: 75px;
  cursor: pointer;
  transition-property: width;
  transition-delay: 0.5s;
  transition-duration: 1s;
} */

/* .tabs-all {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  background-color: var(--bg-main);
} */



/* Nav Bar */

/* .nav-content {
  width: 100%;
  height: 100%;
  visibility: visible;
} */

.nav-content.compact:hover {
  background-color: var(--bkgnd-select);

}

.nav-container {
  visibility: visible;
  transition-property: visibility;
  transition-delay: 1.5s;
  transition-duration: 0s;
  height: 100%;
  display: flex;
  flex-direction: column;

}

.nav-container.compact {
  visibility: hidden;
  transition-property: visibility;
  transition-delay: 0s;
  transition-duration: 0s;
}

.header{
  position: relative;
  display: flex;
  flex-direction: column;
}

.user-profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  background-color: var(--E-0);
}

.user-profile p {
  color: var(--bg-main);
  font-size: 1.75rem;
  padding-bottom: 1rem;
}



/*Logo*/

/* .siteLogo {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  color: var(--bg-main);
  padding: 1rem;
  transform: rotate(0deg);
  transform-origin: bottom left;
  transition-property: transform, top;
  transition-delay: 1s;
  transition-duration: 0.5s;
}

.siteLogo.compact {
  top: -60px;
  transform: rotate(90deg);
  transition-property: transform, top;
  transition-delay: 0.25s;
  transition-duration: 0.75s;
}

.siteLogo p {
  position: relative;
  font-family: 'Barlow', sans-serif;
  font-size: 4rem;
  white-space: nowrap;
  padding: 0.5rem 0rem 0.5rem 0rem;
} */



/*Controls*/

/* .controls {
  background-color: var(--bkgnd-highlight);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8rem 0.5rem 0.5rem 0.5rem;
} */

/* .controls.compact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* .controls-btn {
  background-color: transparent;
  border: none;
  margin: 0.5rem;
  cursor: pointer;
} */

/* .controls-btn img {
  padding: 1rem;
  background-color: var(--bkgnd-highlight);
  border-radius: 5rem;
  border-radius: 0.5rem;
  border: none;
  margin: 0.5rem;
  cursor: pointer;
} */

/* .controls-btn svg {
  scale: 1.5;
  fill: var(--text-main);
  padding: 1rem;
  background-color: var(--bkgnd-highlight);
  border-radius: 5rem;
  border: none;
  margin: 0.5rem;
  cursor: pointer;
} */

/* .controls-btn p {
  font-size: 1.5rem;
  visibility: hidden;
  font-family: 'Barlow', sans-serif;
  font-size: 1.2rem;
} */

/* .controls-btn:hover img {
  background-color: var(--A-1);
  border: none;
  box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.35);
  transition: box-shadow, background-color 0.3s;
}

.controls-btn:hover svg {
  background-color: var(--A-1);
  border: none;
  box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.35);
  transition: box-shadow, background-color 0.3s;
} */

/* .controls-btn:hover p {
  visibility: visible;
  color: var(--text-main);
  transition: 1s;
} */

/* .button-main {
  background-color: var(--bkgnd-highlight);
  border: none;
  margin: 0.5rem;
}

.button-main p {
  font-size: 1.5rem;
  visibility: hidden;
  font-family: 'Barlow', sans-serif;
  font-size: 1.2rem;
  color: var(--text-red);
}

.button-main:hover  {
  background-color: var(--bkgnd-select);
  border-radius: 0.5rem;
  border: none;
  transition: background-color 0.2s;
}

.button-main:hover p  {
  color: var(--btn-red-lt);
} */


/* Selected Button Styles */
/* .controls-btn.selected { */
  /* background-color: var(--bkgnd-select); */
  /* border: none; */
  /* box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.35); */
  /* transition: box-shadow, background-color 0.3s; */
/* } */
/* 
.controls-btn.selected svg {
  fill: var(--A-1);
}

button.selected p {
  visibility: visible;
  color: var(--B-0);
  transition: 1s;
} */



/*Nav Open/Close Button*/

/* .button-main.compact {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: none;
  background-color: transparent;
} */



/*Task & Project Form*/

/* .task-input-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--bkgnd-select);
}

.project-input-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--bkgnd-select);
}

.form-input-item {
  display: flex;
  flex-direction: column;
} */

/* .form-input-item label {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.task-input {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
} */

/* .proj-input {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
} */

.input-error {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  color: var(--error-red);
  visibility: hidden;
}

.input-error.erroneous {
  visibility: visible;
}

/* .button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem
}

.submit-button {
  width: 50%;
  color: black;
  background-color: var(--btn-green-dk);
  margin: 0px;
  font-size: 1.25rem;
  padding: 0.25rem;
}

.submit-button:hover {
  color: var(--text-green);
  background-color: var(--btn-green-lt);
} */

/* .cancel-button {
  width: 50%;
  color: black;
  background-color: var(--btn-red-dk);
  margin: 0px;
  font-size: 1.25rem;
  padding: 0.25rem;
} */

.cancel-button:hover {
  color: var(--text-red);
  background-color: var(--btn-red-lt);
}

.edit-button {
  width: 50%;
  color: var(--B-0);
  background-color: var(--E-0);
  margin: 0px;
  font-size: 1.25rem;
  padding: 0.25rem;
}

.edit-button:hover {
  color: var(--E-0);
  background-color: var(--bkgnd-highlight);
}



/*Project List*/

/* .projects-list {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  color: var(--A-0);
  background-color: var(--bkgnd-highlight);
  padding: 1rem;
  overflow-y: scroll;
}

.projects-header {
  padding: 1rem 0rem 0rem 1rem;
  background-color: var(--bkgnd-highlight);
} */

.projects-header p {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  color: var(--bg-main)
}

/* .projects-list button {
  border: 1px solid var(--bkgnd-highlight);
  background-color: var(--bkgnd-highlight);
  margin: 0.5rem;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 5rem;
  color: var(--B-0);
} */

/* .projects-list button:hover {
  background-color: var(--bkgnd-select);
  box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.35);
  transition: box-shadow, background-color 0.3s;
}

button.tab-select {
  background-color: var(--bkgnd-select);
  border: 1px solid var(--text-hl);
  color: var(--text-hl);
  box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.35);
  transition: box-shadow, background-color 0.3s;
} */



/*Task Tabs*/

/* .proj-tab {
  background-color: var(--B-0);
  border-right: solid 1px var(--E-1);
  max-width: 300px;
  min-width: 200px;
} */

.proj-tab > p:nth-child(1) {
  font-size: 2rem;
  padding: 1rem;
  background-color: var(--bkgnd-highlight);
  border-bottom: 1px solid var(--bkgnd-highlight);
}

/* .task-item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-bottom: 1px solid var(--bkgnd-highlight);
} */

.task-item.past-due {
  background-color: var(--shade-red);
}

.task-item.due-hours {
  background-color: var(--shade-orange);
}

.task-item.due-min {
  background-color: var(--shade-orange);
}

.task-item.complete {
  background-color: var(--text-hl);
}

/* .task-item-controls {
  display: flex;
  gap: 0.5rem;
  flex-wrap: nowrap;
}

.task-item-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.5rem;

} */

/* .task-item-title {
  font-size: 2rem;
  padding: 0rem 0rem 0.5rem 0rem;
} */

/* .task-item-text-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.task-item-text-item p:nth-child(1) {
  font-size: 1.4rem;
}

.task-item-text-item p:nth-child(2) {
  font-size: 1.4rem;
}

.task-item p:nth-child(2) {
  font-size: 1.25rem;
  padding-left: 0.5rem;
} */

/* .task-item p:nth-child(3) {
  font-size: 1.25rem;
  padding-left: 0.5rem;
} */


/* .task-item p:nth-child(4) {
  font-size: 1.25rem;
  padding-left: 0.5rem;
}

.task-item p:nth-child(5) {
  font-size: 1.25rem;
  padding-left: 0.5rem;
} */

/* .no-tasks {
  font-size: 1.4rem;
  padding: 1rem;
} */



/* Edit Form */

/* .task-edit-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--bkgnd-highlight);
  border-bottom: 1px solid var(--bkgnd-highlight);
}

.form-edit-item {
  display: flex;
  flex-direction: column;
}

.form-edit-item label {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
} */



/* Log In Styles */

/* .log-in p:nth-child(1) {
  font-size: 8rem;
  font-family: 'Barlow', sans-serif;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.3rem;
  color: var(--E-0);
} */

.log-in button {
  /* background-color: var(--A-1);
  border: solid 1px var(--A-1);
  color: var(--text-main);
  font-size: 2rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 5rem;
  transition: 0.5s; */
}

.log-in button:hover {
  /* border: solid 1px var(--text-hl);
  background-color: var(--bg-main);
  box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.15);
  color: var(--text-hl);
  transition: 0.5s; */
}

.login-error {
  font-family: 'Barlow', sans-serif;
  color: var(--error-red);
  font-size: 1rem;
  padding-top: 0.5rem;
}





